<%- include("header") -%>
<%- include("adminnevbar") -%>

<% var i=0; %>
<div class="container-md bg-warning mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Serial No.</th>
        <th scope="col">Email</th>
        <th scope="col">Roll No.</th>
        <th scope="col">Book Name</th>
        <th scope="col">Author Name</th>
      </tr>
    </thead>
    <tbody>

        <%  requests.forEach(function(request){ %>
          <tr>
            <th scope="row"><%= ++i %></th>
            <td><%= request.email %></td>
            <td> <%= request.roll %> </td>
            <td> <%= request.book %> </td>
            <td> <%= request.author %> </td>
        <% }) %>
          </tr>
    </tbody>
  </table>
</div>




<%- include("footer") -%>
