<%- include("header") -%>

<div class="container-md mt-3" style="margin-top:10rem; background-color:#edf7fa;">
 <h1 class="mt-5"> name:- <%= name %> </h1>
 <h1> ISBN Number:- <%= isbn %> </h1>
 <h1> Floor No:- <%= floor %> </h1>
 <h1> Column No:- <%= column %> </h1>
 <h1> Shelf No:- <%= shelf %> </h1>
 <h1 class="mb-5"> Avilability:- <%= avilability %> </h1>
</div>

<%- include("footer") -%>
