<%- include("header") -%>
<%- include("studentnevbar") -%>

<div class="container-md mt-3" style="margin-top:10rem; background-color:#edf7fa;">
 <h1 class="mt-5"> name:- <%= name %> </h1>
 <h1> Roll No.:- <%= roll %> </h1>
 <h1> Branch:- <%= branch %> </h1>
 <h1> Email:- <%= email %> </h1>
 <h1> Mobile No.:- <%= mobile %> </h1>
</div>



<%- include("footer") -%>
